html {
    scroll-behavior: smooth;
}

body {
    /* homepage */
    margin: 0;
    color: whitesmoke;
    height: 5219px;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
    background-repeat: no-repeat;
}

.navbar-brand {
    font-family: 'poppins';
    font-weight: bold;
}

.navbar {
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
}

.navbar a {
    color: whitesmoke;
}

/* halaman */

.halhome {
    padding-top: 0;
    height: 640px;
    background-color: ;
}

.halabout {
    margin-top: -30px;
}

.halproduct {
    margin-top: 100px;
}

/* end halaman */

@media (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: white;
    }
    ::-webkit-scrollbar-thumb {
        background: #00b1e9;
    }
    ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
        background: #00b1e9;
    }
}

@media (max-width: 575.98px) {
    .konten {
        margin-top: 340px;
    }
    .hom {
        margin-top: -540px;
    }
    .homeimg {
        width: 200px;
        height: 200px;
    }
    .imgabot {}
}

.navbar-toggler {
    border-color: rgb(255, 102, 203);
}

.ab {
    visibility: hidden;
}

.abt {
    margin-top: 90px;
}

.pr {
    visibility: hidden;
}

.prd {
    margin-top: 20px;
}

.tsp {
    margin-top: 50px;
}

.iconproduk {
    padding-top: 25px;
    width: 100px;
}

.sukaabsen {
    height: 124px;
}

.kasiran {
    height: 150px;
}

.cdproduk {
    font-family: "roboto";
    height: 400px;
    color: rgb(37, 37, 37);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
}

.cdproduk:hover {
    -webkit-box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
}

.btn {
    border: 0px;
    border-radius: 30px;
}

.btn:hover {
    -webkit-box-shadow: inset 0px 7px 300px 200px rgba(0, 255, 0, 1);
    -moz-box-shadow: inset 0px 7px 300px 200px rgba(0, 255, 0, 1);
    box-shadow: inset 0px 7px 300px 200px rgba(0, 255, 0, 1);
}