html {
    scroll-behavior: smooth;
}

body {
    /* homepage */
    margin: 0;
    color: whitesmoke;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
    background-repeat: no-repeat;
}

.navbar-brand {
    font-family: 'poppins';
    font-weight: bold;
}

.navbar {
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
}

.navbar a {
    color: whitesmoke;
}

/* halaman */

.halhome {
    padding-top: 0;
    height: 640px;
}

.halabout {
    margin-top: -30px;
}

.halproduct {
    margin-top: 100px;
}

/* end halaman */

@media (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: white;
    }
    ::-webkit-scrollbar-thumb {
        background: #00b1e9;
    }
    ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
        background: #00b1e9;
    }
}

@media (max-width: 575.98px) {
    .konten {
        margin-top: 340px;
    }
    .hom {
        margin-top: -540px;
    }
    .homeimg {
        width: 200px;
        height: 200px;
    }
}

.navbar-toggler {
    border-color: rgb(255, 102, 203);
}

.ab {
    visibility: hidden;
}

.abt {
    margin-top: 90px;
}

.pr {
    visibility: hidden;
}

.prd {
    margin-top: 20px;
}

.tsp {
    margin-top: 50px;
}

.iconproduk {
    margin-top: 25px;
    width: 100px;
}

.sukaabsen {
    height: 124px;
}

.kasiran {
    height: 150px;
}

.cdproduk {
    font-family: "roboto";
    height: 400px;
    color: rgb(37, 37, 37);
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
}

.hallayanan {
    padding-top: 100px;
}

.cdlyn {
    border-radius: 70px;
    background: none;
    border: none;
    color: white;
}

.cdproduk:hover {
    -webkit-box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
}

.btn {
    border: 0px;
    border-radius: 30px;
}

.btn:hover {
    -webkit-box-shadow: inset 0px 7px 300px 200px rgba(0, 255, 0, 1);
    -moz-box-shadow: inset 0px 7px 300px 200px rgba(0, 255, 0, 1);
    box-shadow: inset 0px 7px 300px 200px rgba(0, 255, 0, 1);
}

.hallayanan a:hover {
    text-decoration: none;
}

.halfolio .nav-item a {
    color: white;
    margin: 2px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(88, 70, 249, 0.8);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.halfolio img {
    vertical-align: middle;
    border-style: none;
}

.figure {
    position: relative;
}

.figure-img .konteks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15px;
    background-color: rgb(15, 98, 254, 65%);
    opacity: 0;
    transition: opacity 0.5s;
}

.figure-img .konteks:hover {
    opacity: 1;
}

.borfol {
    border: 0px;
    background-color: rgb(51, 133, 255);
    border-radius: 30px;
}

.halfolio {
    padding-top: 140px;
}

.svg {
    color: white;
}

.halkontak {
    padding-top: 130px;
}

.kontak a {
    text-decoration: none;
    color: white;
}

.hallayanan img {
    -webkit-box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
}

.iclyn {
    margin-top: 25px;
    width: 100px;
    height: 100px;
}

.hallayanan img {
    border-radius: 100px;
}

.hallayanan .cdlyn:hover {
    -webkit-box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 28px 5px rgba(255, 255, 255, 1);
}